venv/
__pycache__/
*.db
# Entorno virtual
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]

# Base de datos (para que no se suba tu base de datos local)
*.db
*.sqlite3

# Variables de entorno (seguridad)
.env
__pycache__/
env/
venv/
.env
ecommerce.db
.vscode/
.DS_Store
Thumbs.db